body {
    font-family: 'Roboto', sans-serif;
}

.btn-statistics {
    background-color: #F44336;
}

ul li span {
    float:left;
    width:25%;
    margin-top:25px;
    padding-left:20px;
}

.collapsible-header {
    height:90px;
}
